[user]
	email = eric@shreve.dev
	name = shreve

[core]
	excludesfile = ~/.global_gitignore
	editor = vim

# [commit]
# 	template = ~/.gitmessage

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
    defaultBranch = main
	# templateDir = ~/.git-templates
